/* Write your CSS here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: black;
}

.light {
  color: #ffffff;
}
